@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/*
< 90000 -> Elemente
90000 - 900000 -> Fenster
900000 -  950000 ->  startmenu
950000 - 1000000 ->  taskbar
1000005 -> Filter overlay
1000010 -1500000 ->  theme switcher
*/

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.nointeract, .nointeract *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.interact {
    pointer-events: all;
    user-select: text;
}

.noOverflow{
    overflow: hidden;
}

.full{
    width: 100%;
    height: 100%;
}

.rel{
    position: relative;
}

.absTopLeft{
    position: absolute;
    top: 0;
    left: 0;
}

.nopad{
    padding: 0;
    margin: 0;
}

.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mediaFullFit{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    overflow: clip;
}

.flexarrayright{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.arraydown > *{
    display: block;
}

#desktop-pane-taskbar{
    z-index: 950000;
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--taskbar-height);
    width: 100%;
}

#desktop-pane-taskbar-content{
    transform: translateY(-100%);
    height: var(--taskbar-height);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#desktop-pane-taskbar-content > .section{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: var(--taskbar-button-gap);
    padding-right: 0;
    gap: var(--taskbar-button-gap);
}

#taskbar-apps{
    width: calc(var(--taskbar-height) * var(--app-amount));
}

#taskbar-apps > button{
    position: absolute;
    top: var(--taskbar-button-gap);
    left: calc(calc(var(--index) * var(--taskbar-height)) + calc(var(--offset) * var(--taskbar-height)) + var(--taskbar-button-gap));
    transition: left 0.3s ease-in-out;
}

#desktop-pane-taskbar-content > .section > button{
    --btn-width: calc(var(--taskbar-height) - var(--taskbar-button-gap) - var(--taskbar-button-gap));
    height: var(--btn-width);
    width: var(--btn-width);
    background-color: unset;
    border: none;
    border-radius: 0;
}

#taskbar-apps > button.dragged {
    transition: left 0s ease-in-out;
    z-index: 1000000;
}

#desktop-pane-taskbar-content > .section > button img{
    object-fit: contain;
    height: calc(100% - var(--taskbar-button-pad) - var(--taskbar-button-pad));
    width: calc(100% - var(--taskbar-button-pad) - var(--taskbar-button-pad));
}

#desktop-pane-taskbar-content > .section > button span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: var(--taskbar-icon-open-height);
    width: 0;
    background-color: var(--taskbar-icon-open-color);
}

#desktop-pane-taskbar-content > .section > button.open span{
    width: var(--taskbar-icon-open-width);
}

#desktop-pane-taskbar-content > .section > button.active span{
    width: var(--taskbar-icon-active-width);
    background-color: var(--taskbar-icon-active-color);
}

.window-container{
    width: var(--w);
    height: var(--h);
    position: absolute;
    top: var(--y);
    left: var(--x);
}

.window-container > div > div > .window-container-topbar{
    position: absolute;
    width: calc(100% - var(--window-border-size) * 2);
    height: var(--window-topbar-height);
    top: var(--window-border-size);
    left: var(--window-border-size);
}

.window-container > div > div > .window-container-topbar .windowtitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window-container > div > div > .window-container-topbar button{
    width: var(--window-topbar-button-width);
    height: 100%;
    background-color: unset;
    border: none;
    border-radius: 0;
}

.window-container> div > div >.window-container-topbar button svg{
    height: var(--window-topbar-icon-size);
    object-fit: cover;
}

.window-container > div > div > .window-container-topbar button:hover{
    background-color: rgba(204 204 204 / 50%);
}

.window-container > div > div > .window-container-topbar button.close:hover{
    background-color: #e81123;
}

.window-container > div > div > .window-container-body{
    overflow-y: scroll;
}