:root {
    --theme-desktop-wallpaper: url(assets/background/dark.png);
    --theme-navbar-bg-color: rgba(0 0 0 / 60%);
    --theme-navbar-active: #ff99a1;
    --theme-button-color: #fff;

    --navbar-height: 50px;
    --navbar-margin: 12px;
    --navbar-border-radius: 3px;
    --navbar-button-padding: 10px;
    --navbar-active-height: 2px;

    --gap: 10px;
}

* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: var(--color-contrast);
    transition: color var(--color-change-transition-duration);
}

html,
body,
#screen,
#screen>*,
#desktop {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#screen {
    position: relative;
}

#screen>div {
    position: absolute;
    top: 0;
    left: 0;
}

#wallpaper {
    background-image: var(--theme-desktop-wallpaper);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#desktop {
    position: relative;
    overflow: hidden;
}













#taskbar {
    position: absolute;
    bottom: var(--navbar-margin);
    height: var(--navbar-height);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 9999999999999999999;

    gap: var(--gap);
}

#taskbar>div {
    position: relative;
    height: 100%;
    background-color: var(--theme-navbar-bg-color);
    border-radius: var(--navbar-border-radius);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

#taskbar-apps {
    width: calc(var(--navbar-height) * var(--app-amount));
}

#taskbar button {
    height: var(--navbar-height);
    width: var(--navbar-height);
    background-color: rgba(0 0 0 / 1%);
    border: none;
    outline: none;
    cursor: default;
    padding: var(--navbar-button-padding);
    transition: background-color 0.075s ease-in-out;
}

#taskbar-apps>button {
    position: absolute;
    top: 0;
    left: calc(calc(var(--index) * var(--navbar-height)) + calc(var(--offset) * var(--navbar-height)));
    transition: left 0.3s ease-in-out;
}

#taskbar-apps>button.dragged {
    transition: left 0s ease-in-out;
}

#taskbar button>img, #taskbar button>svg, #taskbar button>svg>path  {
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: var(--theme-button-color);
    fill: var(--theme-button-color);
}

#taskbar-apps.static>button.active,
#taskbar-apps>button.dragged:hover {
    background-color: rgba(255 255 255 / 8%);
}

#taskbar-apps.static>button:hover {
    background-color: rgba(255 255 255 / 10%);
}

#taskbar-apps>button>span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: var(--navbar-active-height);
    background-color: var(--theme-navbar-active);
    display: none;
    transition: width 0.1s ease-in-out;
}

#taskbar-apps>button.open>span {
    width: 80%;
    display: block;
}

#taskbar-apps>button.active>span,
#taskbar-apps>button.open:hover>span {
    width: calc(100% - 2px);
    display: block;
}