.noInteractRecursive, .noInteractRecursive *
    user-select: none
    pointer-events: none

.noInteract
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    pointer-events: none

.interact 
    pointer-events: all
    user-select: text

.interactRecursive, .interactRecursive * 
    pointer-events: all
    user-select: text
