.window-container.playback_windowMinimizeAnimation_forwards
    animation: windowMinimizeAnimation 0.5s ease-in-out forwards

.window-container.playback_windowMinimizeAnimation_backwards
    animation: windowMinimizeAnimation 0.5s ease-in-out reverse

.window-container.playback_windowCloseAnimation_forwards
    animation: windowCloseAnimation 0.3s ease-in-out forwards