:root{
    --taskbar-height: 47px;
    --taskbar-button-gap: 4px;
    --taskbar-button-pad: 8px;
    --taskbar-blur: 30px;

    --taskbar-icon-open-height: 3px;
    --taskbar-icon-open-width: 15%;
    --taskbar-icon-open-color: #a99ba5;
    --taskbar-icon-active-width: 50%;
    --taskbar-icon-active-color: #0078d4;

    --window-border-radius: 5px;
    --window-border-visible: 0;

    --window-topbar-height: 40px;
    --window-topbar-icon-size: 15px;
    --window-topbar-button-width: 60px;
    --window-topbar-logo-size: 20px;

    --text-color: white;
}

#desktop-pane-taskbar{
    border-top: 1px solid #434343;
}

#desktop-pane-taskbar-content{
    padding-left: 9px;
}

#desktop-pane-taskbar-bg{
    backdrop-filter: blur(var(--taskbar-blur));
}

#desktop-pane-taskbar-content{
    /*background-color: rgba(30 30 30 / 20%);*/

    background-image: linear-gradient(
        to right, 
        rgba(30 30 30 / 80%), 
        rgba(30 30 30 / 30%), 
        rgba(30 30 30 / 80%)
    );
}

#desktop-pane-taskbar-content > .section > button{
    border-radius: 3px;
    transition: background-color 0.1s ease-in-out;
}

#desktop-pane-taskbar-content > .section:not(.nonstatic) > button:hover{
    background-color: rgba(204 204 204 / 15%);
}

#desktop-pane-taskbar-content > .section > button span{
    border-radius: 3px;
}

.root-window-pane{
    height: calc(100% - var(--taskbar-height))
}